<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/vendor/datatables/js/jquery.dataTables.js">
	<title></title>
</head>
<body>
    <div>
        <table id="action_data">
        </table>
    </div>
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/datatables/js/jquery.dataTables.js"></script>
	
<script type="text/javascript">
    $(document).ready(function(){
        $.getJSON("/actions",function(data){
            action_data = '';
            $.each(data,function(key,value){
                if(value.action == 'delete')
                    {action_data += '<tr bgcolor="#FF0000">';}
                else
                    {action_data += '<tr>';
                    action_data += '<td>' + value.action + '</td>';
                    action_data += '<td>' + value.movie + '</td>';
                    action_data += '<td>' + value.user + '</td>';
                    action_data += '<td>' + value.rating + '</td>';
                    action_data += '</tr>';}
            });
            $('#action_data').append(action_data);
        });
    });
</script>


</body>
</html>